<div class="p-6 max-w-lg mx-auto bg-white shadow-lg rounded-lg mt-6">
    <h2 class="text-2x1 font-semibold text-gray-700 mb-4">Novo lugar</h2>
    <hr />

    <form id="lugarForm" [formGroup]="camposForm" (ngSubmit)="salvar()">
        <div class="mb-4">
            <label for="nome" class="block text-gray-600 font-medium mb-2">Nome</label>
            <input type="text" id="nome" name="nome" formControlName="nome" placeholder="Ex: praia do Sol..." 
                class="w-full p-3 border border-gray-300 rounded shadow-sm focus:ring-blue-400" required />
                <span class="text-red-500 text-sm">
                    Campo obrigatório
                </span>
        </div>

        <div class="mb-4">
            <label for="nome" class="block text-gray-600 font-medium mb-2">Categoria</label>
            <select id="categoria" name="categoria" formControlName="categoria" 
                class="w-full p-3 border border-gray-300 rounded shadow-sm focus:outline-none focus:ring focus:ring-blue-400">
                <option [value]="">Selecione uma categoria</option>
                <option *ngFor="let categoria of categorias" [value]="categoria.nome">{{ categoria.nome }}</option>
            </select>
        </div>

        <div class="mb-4">
            <label for="localizacao" class="block text-gray-600 font-medium mb-2">Localização</label>
            <input type="text" id="localizacao" name="localizacao" formControlName="localizacao" placeholder="Ex: São Paulo" 
                class="w-full p-3 border border-gray-300 rounded shadow-sm focus:ring-blue-400" required />
                <span class="text-red-500 text-sm">
                    Campo obrigatório
                </span>
        </div>

        <div class="mb-4">
            <label for="urlFoto" class="block text-gray-600 font-medium mb-2">URL da foto</label>
            <input type="text" id="urlFoto" name="urlFoto" formControlName="urlFoto" placeholder="Ex: http://exemplo.com/foto.jpg" 
                class="w-full p-3 border border-gray-300 rounded shadow-sm focus:ring-blue-400" required />
                <span class="text-red-500 text-sm">
                    Campo obrigatório
                </span>
        </div>

        <div class="mb-4">
            <label for="avaliacao" class="block text-gray-600 font-medium mb-2">Avaliação</label>
            <select id="avaliacao" name="avaliacao" formControlName="avaliacao" 
                class="w-full p-3 border border-gray-300 rounded shadow-sm focus:outline-none focus:ring focus:ring-blue-400">
                <option [value]="">Selecione uma avaliação</option>
                <option [value]="1">Ruim</option>
                <option [value]="2">Regular</option>
                <option [value]="3">Bom</option>
                <option [value]="4">Muito Bom</option>
                <option [value]="5">Excelente</option>
            </select>
        </div>

        <button type="submit" class="w-full bg-blue-600 font-semibold p-3 rounded shadow hover:bg-blue-700">
            Cadastrar
        </button>
    </form>
</div>
