<header class="bg-gradient-to-r from-blue-500 to-blue-700 text-white p-6 shadow-lg">

    <div class="flex justify-end px-6 pt-2">
        <span *ngIf="usuarioLogado" class="mr-4 text-white-700">
            Bem vindo,
            <strong>{{ usuarioLogado.nome }}</strong>
        </span>
        <span *ngIf="usuarioLogado"><a href="#" (click)="logout($event)"><i class="fa-solid fa-right-from-bracket ml-5"></i>Sair</a></span>
    </div>
    
    <div class="text-center">
        <h1 class="text-3x1 font-bold">{{ props.titulo }}</h1>
        <p class="text-lg mt-2">{{ props.subTitulo }}</p>
    </div>
    
    <div class="mt-4">
        <hr class="border-t border-blue-300 opacity-50">
    </div>

    <nav class="mt-4">
        <ul class="flex justify-center space-x-6 text-white font-semibold">
            <li><a routerLink="/" class="hover:text-yellow-300">Galeria</a></li>
            <li *ngIf="usuarioLogado"><a routerLink="/paginas/categorias/consulta" class="hover:text-yellow-300">Categorias</a></li>
            <li *ngIf="usuarioLogado"><a routerLink="/paginas/lugares/consulta" class="hover:text-yellow-300">Lugares</a></li>
            <li *ngIf="usuarioLogado"><a routerLink="/paginas/usuarios/consulta" class="hover:text-yellow-300">Usuários</a></li>
            <li *ngIf="!usuarioLogado"><a routerLink="/login">Login</a></li>
        </ul>
    </nav>
</header>

<router-outlet></router-outlet>

<footer class="bg-gray-200 text-center p-4 mt-6">
    <p class="text-gray-600 text-sm">2026 Lugares Legais - todos os direitos reservados.</p>
</footer>