<div class="p-6 max-w-lg mx-auto bg-white shadow-lg rounded-lg mt-6">
    <h2 class="text-2x1 font-semibold text-gray-700 mb-4">{{ id ? 'Editar permissão' : 'Nova permissão' }}</h2>
    <hr />

    <form id="permissoesForm" [formGroup]="camposForm" (ngSubmit)="salvar()">
        <div class="mb-4">
            <label for="codigo" class="block text-gray-600 font-medium mb-2">Código</label>
            <input type="text" id="codigo" name="codigo" formControlName="codigo" placeholder="Ex: usuario.cadastrar" 
                class="w-full p-3 border border-gray-300 rounded shadow-sm focus:ring-blue-400"
                required />
                <span class="text-red-500 text-sm" *ngIf="isCampoInvalido('codigo')">
                    Campo obrigatório
                </span>
        </div>
        <div class="mb-4">
            <label for="descricao" class="block text-gray-600 font-medium mb-2">Descrição</label>
            <input type="text"
                id="descricao" name="descricao" formControlName="descricao" placeholder="Ex: cadastra usuários" 
                class="w-full p-3 border border-gray-300 rounded shadow-sm focus:outline-none focus:ring-blue-400"
                required />
                <span class="text-red-500 text-sm" *ngIf="isCampoInvalido('descricao')">
                    Campo obrigatório
                </span>
        </div>
        <button (click)="id ? atualizar() : salvar()" 
            type="button" class="w-full bg-blue-600 font-semibold p-3 text-white rounded shadow hover:bg-blue-700">
            {{ id ? 'Atualizar' : 'Salvar' }}
        </button>
    </form>
</div>
